<div class="row" id="chat">
    <div class="col-3">
        <div class="d-inline-block">
            <span>ChatGPTで本文を作成する</span>
        </div>
    </div>
    <div class="col mb-2">
        <div>
            <div id="chat-log"></div>
            <textarea type="text" id="user-input" class="form-control mb-2" rows="8"
                      placeholder="文章を入力してください"></textarea>
            <input type="button" id="send-button" class="btn btn-primary" value="ChatGPTにメッセージを送信する">
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#newsForm .card-body').append($('#chat'));

        let conversationHistory = [];

        async function getChatResponse(userInput) {
            const history = conversationHistory.concat(userInput).join('\n');
            const response = await fetch('{{ path('admin_chat_gpt_news') }}', {
                method: 'POST',
                headers: {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'prompt': history
                })
            });

            const data = await response.json();
            conversationHistory.push(userInput);
            return data.error ? data.error.message : data.choices[0].message.content.trim();
        }

        document.getElementById('send-button').addEventListener('click', async () => {
            const userInput = document.getElementById('user-input').value;
            const chatLog = document.getElementById('chat-log');
            const userMessageElement = document.createElement('div');
            userMessageElement.innerText = `あなた: ${userInput}`;
            chatLog.appendChild(userMessageElement);

            const botResponse = await getChatResponse(userInput);
            const botMessageElement = document.createElement('div');
            if (botResponse.error) {
                botMessageElement.innerText = `ChatGPT: ${botResponse}`;
                chatLog.appendChild(botMessageElement);
            } else {
                const textarea = document.getElementById('admin_news_description');
                textarea.value = botResponse;
            }

            document.getElementById('user-input').value = '';
        });
    });
</script>
